## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup

import pandas as pd
import requests
import gmaps

# Import API key
from config import gkey

# Configure gmaps API key
gmaps.configure(api_key=gkey)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Souillac,-20.52,57.52,69.80,68,40,9.17,MU,scattered clouds
1,1,Kovur,14.48,79.98,76.17,76,48,3.98,IN,scattered clouds
2,2,Atuona,-9.80,-139.03,77.47,79,68,15.12,PF,light rain
3,3,Bethel,41.37,-73.41,52.00,93,90,4.70,US,mist
4,4,Upernavik,72.79,-56.15,15.85,92,97,3.89,GL,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('Please select minimum temperature '))
max_temp = float(input('Please select maximum temperature '))

Please select minimum temperature 70
Please select maximum temperature 80

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# res_df = city_data_df.loc[(city_data_df['Max Temp'] <maxx) & (city_data_df['Max Temp'] >minn)]
# res_df

res_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

res_df.head(20)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
1,1,Kovur,14.48,79.98,76.17,76,48,3.98,IN,scattered clouds
2,2,Atuona,-9.80,-139.03,77.47,79,68,15.12,PF,light rain
8,8,Arraial Do Cabo,-22.97,-42.03,71.60,64,75,14.99,BR,broken clouds
21,21,Santa Maria,-29.68,-53.81,71.60,49,40,8.05,BR,scattered clouds
23,23,Gorontalo,0.54,123.06,79.39,72,100,4.79,ID,overcast clouds
24,24,Vaini,-21.20,-175.20,78.80,78,75,12.75,TO,broken clouds
25,25,Yaan,7.38,8.57,76.03,84,100,4.92,NG,overcast clouds
27,27,Inirida,3.87,-67.92,71.38,99,100,1.41,CO,light rain
28,28,Omboue,-1.57,9.26,75.11,91,99,2.93,GA,overcast clouds
29,29,Vao,-22.67,167.48,74.30,84,66,17.00,NC,broken clouds
32,32,Danane,7.26,-8.15,71.83,95,60,0.98,CI,broken clouds
36,36,Rikitea,-23.12,-134.97,74.32,86,89,23.06,PF,light rain
37,37,Salalah,17.02,54.09,75.20,53,0,4.70,OM,clear sky
46,46,Ahipara,-35.17,173.17,71.08,66,95,7.29,NZ,overcast clouds
48,48,Nampula,-15.12,39.27,71.20,89,16,1.63,MZ,few clouds
49,49,Kabo,7.70,18.63,72.59,82,89,2.28,CF,overcast clouds
51,51,Puerto Palomas,31.77,-107.62,73.40,20,1,12.75,MX,clear sky
58,58,Georgetown,5.41,100.34,78.80,88,20,3.36,MY,thunderstorm
60,60,Kawalu,-7.38,108.21,71.78,91,38,2.08,ID,scattered clouds
71,71,Labuan,5.28,115.24,78.80,83,20,3.36,MY,few clouds

In [5]:
import numpy as np

# 4a. Determine if there are any empty rows.
res_df.isnull().sum()

City_ID                0
City                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Country                2
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
res_df = res_df.replace('',np.nan)
clean_res_df = res_df.dropna()
clean_res_df.isnull().sum()

City_ID                0
City                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Country                0
Current Description    0
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_res_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(20)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Kovur,IN,76.17,scattered clouds,14.48,79.98,
2,Atuona,PF,77.47,light rain,-9.80,-139.03,
8,Arraial Do Cabo,BR,71.60,broken clouds,-22.97,-42.03,
21,Santa Maria,BR,71.60,scattered clouds,-29.68,-53.81,
23,Gorontalo,ID,79.39,overcast clouds,0.54,123.06,
24,Vaini,TO,78.80,broken clouds,-21.20,-175.20,
25,Yaan,NG,76.03,overcast clouds,7.38,8.57,
27,Inirida,CO,71.38,light rain,3.87,-67.92,
28,Omboue,GA,75.11,overcast clouds,-1.57,9.26,
29,Vao,NC,74.30,broken clouds,-22.67,167.48,
32,Danane,CI,71.83,broken clouds,7.26,-8.15,
36,Rikitea,PF,74.32,light rain,-23.12,-134.97,
37,Salalah,OM,75.20,clear sky,17.02,54.09,
46,Ahipara,NZ,71.08,overcast clouds,-35.17,173.17,
48,Nampula,MZ,71.20,few clouds,-15.12,39.27,
49,Kabo,CF,72.59,overcast clouds,7.70,18.63,
51,Puerto Palomas,MX,73.40,clear sky,31.77,-107.62,
58,Georgetown,MY,78.80,thunderstorm,5.41,100.34,
60,Kawalu,ID,71.78,scattered clouds,-7.38,108.21,
71,Labuan,MY,78.80,few clouds,5.28,115.24,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
   # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.replace('',np.nan)
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Kovur,IN,76.17,scattered clouds,14.48,79.98,Pleasant Stay
2,Atuona,PF,77.47,light rain,-9.80,-139.03,Villa Enata
8,Arraial Do Cabo,BR,71.60,broken clouds,-22.97,-42.03,Pousada Porto Praia
21,Santa Maria,BR,71.60,scattered clouds,-29.68,-53.81,Hotel Morotin
23,Gorontalo,ID,79.39,overcast clouds,0.54,123.06,Maqna Hotel by Prasanthi
...,...,...,...,...,...,...,...
646,Yenagoa,NG,76.06,overcast clouds,4.92,6.26,Amba Hotels Limited
650,Puerto Carreno,CO,75.25,overcast clouds,6.19,-67.49,Casa Hotel Victoria
655,Ambilobe,MG,72.97,broken clouds,-13.20,49.05,Hôtel & Restaurant DIANA Ambilobe
660,Mozarlandia,BR,77.68,scattered clouds,-14.74,-50.57,Hotel Santa Mônica
665,Pringsewu,ID,73.80,broken clouds,-5.36,104.97,Urban Style by Front One

In [16]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [17]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [18]:
import matplotlib.pyplot as plt
# 11a. Add a marker layer for each city to the map. 
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = clean_hotel_df[["Lat", "Lng"]]
hotel_name = clean_hotel_df["Hotel Name"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))